<div id='menuAdmin'>
	<h3>Menu:</h3>
	<ul>
		<li><a href='admin/presenters/'>Prezenterzy zarządzaj</a></li>
		<li><a href='admin/proposition/'>Propozycje zarządzaj</a></li>
		<li><a href='admin/schedule/'>Ramowka zarządzaj</a></li>
		<li><a href='admin/news/'>News zarządzaj</a></li>
		<li><a href='admin/logout/'>Wyloguj</a></li>
	</ul>
</div>



<div id='panel-content'>
      <div id='panel-center'>
        <div id='panel-head'>
          <div id='panel-top'></div>
          <div id='panel-bottom'></div>
        </div>
        <div id='panel-data'>
          <fieldset>
            <form method="post" action="">
              <input type='text' name='username' id='ipanelNick' placeholder="Username" />
              <input type='password' name='password' id='ipanelPass' placeholder="Password" />
              <input type="submit" value="Login">
            </form>
          </fieldset>
        </div>
      </div>
</div>
    <div class='clear'></div>
