<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
      <link rel="stylesheet" href="../public/css/main.min.css">
</head>

<body class="loginBody">
  <html lang="en-US">
<head>
  <meta charset="utf-8">
    <title>Login</title>


</head>
    <div id="login">
      <form method="post" action="/api/login">
        <span class="fontawesome-user"></span>
          <input type="text" id="user" placeholder="Username" name="username">

        <span class="fontawesome-lock"></span>
          <input type="password" id"pass" placeholder="Password" name="password">

        <input type="submit" value="Login">

</form>


</body>
</html>
